flows/copapromocheck__BackPromotionCheckerBeforePromotionClassic.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>count_user_stories_behind</name>
        <label>count user stories behind</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <actionName>copado__UserStoryCounter</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_the_number_of_user_stories_behind</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>environmentId</name>
            <value>
                <elementReference>$Record.copado__Environment__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pipelineId</name>
            <value>
                <elementReference>$Record.copado__Project__r.copado__Deployment_Flow__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>Behind</stringValue>
            </value>
        </inputParameters>
        <nameSegment>copado__UserStoryCounter</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Throw_error</name>
        <label>Throw error</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <actionName>copapromocheck__FlowCustomError</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>messages</name>
            <value>
                <stringValue>You cannot promote because there are back-promotions pending</stringValue>
            </value>
        </inputParameters>
        <nameSegment>copapromocheck__FlowCustomError</nameSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_the_number_of_user_stories_behind</name>
        <label>Check the number of user stories behind</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>There_are_user_stories_behind</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>count_user_stories_behind</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Throw_error</targetReference>
            </connector>
            <label>There are user stories behind</label>
        </rules>
    </decisions>
    <description>If this is enabled, every User Story in a Salesforce Pipeline cannot be marked as Ready to Promote or Promote and Deploy, unless all the Back-Promotions are completed.</description>
    <environments>Default</environments>
    <interviewLabel>BackPromotion Check Before Promotion (classic) {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>BackPromotion Check Before Promotion (classic)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>count_user_stories_behind</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND ( (3 AND 4) OR (5 AND 6) )</filterLogic>
        <filters>
            <field>copado__Platform__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Salesforce</stringValue>
            </value>
        </filters>
        <filters>
            <field>copado__Platform__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>copado__Promote_Change__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>copado__Promote_Change__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>copado__Promote_and_Deploy__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>copado__Promote_and_Deploy__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>copado__User_Story__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
