flows/copapromocheck__BackPromotionCheckerBeforePromotion.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>count_user_stories_behind</name>
        <label>count user stories behind</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <actionName>copado__UserStoryCounter</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_the_number_of_user_stories_behind</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>environmentId</name>
            <value>
                <elementReference>sourceEnvironmentId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pipelineId</name>
            <value>
                <elementReference>pipelineId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>Behind</stringValue>
            </value>
        </inputParameters>
        <nameSegment>copado__UserStoryCounter</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Update_Test_Result_From_Result</name>
        <label>Update Test Result From Result</label>
        <locationX>336</locationX>
        <locationY>734</locationY>
        <actionName>copapromocheck__UpdateTestResultFromResult</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Publish_Done_Event</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>errorMessage</name>
            <value>
                <stringValue>{!testErrorMessage}. User Stories Behind: {!count_user_stories_behind} maximum accepted: {!BACK_PROMOTIONS_ALLOWED}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>resultData</name>
        </inputParameters>
        <inputParameters>
            <name>resultId</name>
            <value>
                <elementReference>resultId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>status</name>
            <value>
                <elementReference>testStatus</elementReference>
            </value>
        </inputParameters>
        <nameSegment>copapromocheck__UpdateTestResultFromResult</nameSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>You_cannot_promote_because_there_are_back_promotions_pending</name>
        <label>You cannot promote because there are back-promotions pending</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>testStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Failure</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>testErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>You cannot promote because there are back-promotions pending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Test_Result_From_Result</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_the_number_of_user_stories_behind</name>
        <label>Check the number of user stories behind</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Update_Test_Result_From_Result</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>There_are_user_stories_behind</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>count_user_stories_behind</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>count_user_stories_behind</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>BACK_PROMOTIONS_ALLOWED</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>You_cannot_promote_because_there_are_back_promotions_pending</targetReference>
            </connector>
            <label>There are user stories behind</label>
        </rules>
    </decisions>
    <decisions>
        <name>See_if_we_should_check_this_Promotion</name>
        <label>See if we should check this Promotion</label>
        <locationX>336</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Update_Test_Result_From_Result</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ensure_is_not_a_back_promotion_or_a_test</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isBackPromotion</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>count_user_stories_behind</targetReference>
            </connector>
            <label>ensure is not a back promotion or a test</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>BackPromotionCheckerBeforePromotion {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BackPromotion Check Before Promotion</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Publish_Done_Event</name>
        <label>Publish Done Event</label>
        <locationX>336</locationX>
        <locationY>842</locationY>
        <inputAssignments>
            <field>copado__Payload__c</field>
            <value>
                <stringValue>{ &quot;isSuccess&quot;: {!isSuccess}, &quot;errorMessage&quot;: &quot;{!$Flow.FaultMessage}{!testErrorMessage}&quot; }</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Topic_Uri__c</field>
            <value>
                <stringValue>/events/copado/v1/step-result/{!resultId}</stringValue>
            </value>
        </inputAssignments>
        <object>copado__Event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>See_if_we_should_check_this_Promotion</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>BACK_PROMOTIONS_ALLOWED</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>deploymentDryRun</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isBackPromotion</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>set to true if the operation was successful (if the quality gate passed)</description>
        <name>isSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>pipelineId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>promotionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>resultId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sourceEnvironmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>errorMessage of the Result record associated with the Test</description>
        <name>testErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>final status of the test</description>
        <name>testStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Success</stringValue>
        </value>
    </variables>
</Flow>
